---
import Layout from "../components/Layout.astro";
---

<Layout title="Homepage – Eleonora Mariani">
  <h1>Eleonora Mariani – Fumetti & Illustrazioni</h1>
  <p>Ciao! Questo è il mio portfolio di fumetti.
  Costituitasi nel 2011, l’associazione Mammaiuto è un collettivo di fumettisti che hanno scelto la via dell’autoproduzione per raggiungere i lettori direttamente, 
  eliminando la presenza di intermediari: tutte le storie, le illustrazioni e le strisce prodotte sono disponibili gratuitamente sul sito www.mammaiuto.it, 
  mentre la vendita dei volumi cartacei è finalizzata a sostenere i compensi agli autori e a pagare le spese vive dell’associazione. 
  Oltre all’autoproduzione alcuni volumi di Mammaiuto sono pubblicati anche da case editrici italiane e francesi.  
  </p>
  <p><a href={`${Astro.site.pathname}/fumetti`}>Vai ai fumetti →</a></p>
</Layout>