---
import Layout from "../components/Layout.astro";
---

<Layout title="Homepage – Eleonora Mariani">
  <h1>Eleonora Mariani – Fumetti & Illustrazioni</h1>
  <p>Ciao! Questo è il mio portfolio di fumetti.
 Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum 
 Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum 
 Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum 
 Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum 
 Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum Ipse Lorum 
  </p>
  <p><a href={`${Astro.site.pathname}/fumetti`}>Vai ai fumetti →</a></p>
</Layout>