---
const { title = "Portfolio" } = Astro.props;
---

<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <style>
      :root {
        --bg: #FFF8DC;
        --text: #111;
        --muted: #777;
        --card: #ffffff;
        --accent: #111;
      }

      * { box-sizing: border-box; }

      body {
        font-family: system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
		font-size: 20px;
		font-weight: bold;
		margin: 0;
        padding: 0;
        background: var(--bg);
        color: var(--text);
      }

      header {
        background: var(--accent);
        padding: 14px 20px;
      }

      header nav {
        display: flex;
        gap: 20px;
        align-items: center;
        max-width: 1600px;
        margin: 0 auto;
      }

      header nav a {
        color: white;
        text-decoration: none;
        font-weight: 600;
      }

      header nav a:hover {
		color: yellow;	
        text-decoration: underline;
      }

      main {
        padding: 30px 20px;
        max-width: 1000px;
        margin: 0 auto;
		p {  text-align: justify;}
      }

      footer {
        text-align: center;
        padding: 20px;
        color: var(--muted);
      }
    </style>
  </head>

<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/fumetti">Fumetti</a>
    </nav>
  </header>

  <main>
    <!-- In Astro i contenuti delle pagine vengono inseriti qui -->
    <slot />
  </main>

  <footer>
    © {new Date().getFullYear()} Luciano Mariani – Tutti i diritti riservati
  </footer>
</body>
</html>