---
import Layout from "../../components/Layout.astro";
import ComicCard from "../../components/ComicCard.astro";

const fumetti = [
  {
    titolo: "Fumetto 1",
    cover: "/fumetti/questione.jpg",
    link: "/fumetti/fumetto1",
  },
  {
    titolo: "Fumetto 2",
    cover: "/fumetti/questione2.jpg",
    link: "/fumetti/fumetto2",
  }
];
---

<Layout title="I miei fumetti - Eleonora">

  <h1>I miei fumetti</h1>

  <div style="
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
  ">
   {fumetti.map((f) => <ComicCard {...f} />)}
  </div>

</Layout>